<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Banque <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/addBanque">addBanque</a></li>
                    <li><a href="#/getListeComptes">getListComptes</a></li>
                    <li><a href="#/addBanqueToCompte">addBanqueToCompte</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/getClients">getClients</a></li>
                    <li><a href="#/getClient">getClient</a></li>
                    <li><a href="#/addClient">addClient</a></li>
                    <li><a href="#/deleteClient">deleteClient</a></li>
                    <li><a href="#/updateClient">updateClient</a></li>
                    <li><a href="#/getClientByMc">getClientByMc</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/addCompte">addCompte</a></li>
                    <li><a href="#/deleteCompte">deleteCompte</a></li>
                    <li><a href="#/getCompte">getCompte</a></li>
                    <li><a href="#/updateCompte">updateCompte</a></li>
                    <li><a href="#/getComptesByClient">getComptesByClient</a></li>
                    <li><a href="#/getComptesByEmploye">getComptesByEmploye</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employe <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/addEmploye">addEmploye</a></li>
                    <li><a href="#/getEmployes">getEmployes</a></li>
                    <li><a href="#/addEmployeToGroupe">addEmployeToGroupe</a></li>
                    <li><a href="#/getEmployesGroupe">getEmployesGroupe</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groupe <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/addGroupe">addGroupe</a></li>
                    <li><a href="#/getGroupes">getGroupes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operation <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/verser">verser</a></li>
                    <li><a href="#/retirer">retirer</a></li>
                    <li><a href="#/virement">virement</a></li>
                    <li><a href="#/getOperationsByCompte">getOperationsByCompte</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/notImplementedYet">Fin du Monde</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
