<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p>getOperationsByCompte</p>

<div>
    <form>
        <label>ID Compte</label>
        <input type="number" ng-model="idCompte">
        <button class="btn btn-info" ng-click="getOperationsByCompte(idCompte)">Rechercher</button>
    </form>
</div>

<br/>
<div ng-if="operations">
    <p>Success</p>
    {{operations}}

    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>Id Operation</th>
            <th>Montant</th>
            <th>Date Operation</th>
            <th>Numero Employe</th>
        </tr>
        <tr ng-repeat="operation in operations">
            <td>{{operation.idOperation}}</td>
            <td>{{operation.montant}}</td>
            <td>{{operation.dateDoperation |date}}</td>
            <td>{{operation.employe.codeEmploye}}</td>
        </tr>
    </table>
</div>